.flex{
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    padding: 150px;
    gap: 50px;
}
.box {
    padding: 20px;
    background: blue;
    /* transform: translate(200px,200px); */
    /* transform: scale(1.5); */
    /* transform: rotate(270deg); */
    transition: all 1s;
}

.box:hover{
    background-color: aqua;
    /* transform: rotate(270deg) translate(200px,200px); */
}

.spinner{
    border: 8px solid rgb(199, 197, 197);
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
    border-top: 8px solid blue;
    /* transition: transform 1s ease-in; */
    animation: 2s infinite spinner;
}

.spinner:hover {
    transform: rotate(360deg);
}

@keyframes spinner{
    from{
        transform: rotate(0deg) ;
        background-color: aqua;
    }
    to{
        transform: rotate(360deg) scale(1.5);
        background-color: red;
    }
}